@import 'base.less';
@nice_blue:#5B83AD;
@light_blue:@nice_blue+#111;
body{
    background-color: paleturquoise;
    .wrapper{
        background-color: @light_blue;
        &:hover{
            background-color:rgb(0, 110, 255);
        }
    }
}
